<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="weatherApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="weatherApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="weatherApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="weatherApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Weather dashboard</title>
        <meta name="description" content="Weather dashboard shows you a dashboard with the weather of your cities.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantarell:400,400italic,700,700italic" type="text/css">
        <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" type="text/css"/>
        <link rel="stylesheet" href="assets/css/app.css" type="text/css">
    </head>
    <body ng-controller="AppController as appCtrl" ng-cloak>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <img src="assets/logo.png" class="logo"/>
            <md-button ng-click="appCtrl.goHome()" aria-label="go to Home page" class="menu home">
                Home
            </md-button>
            <md-button ng-click="appCtrl.goSettings()" aria-label="go to Settings page" class="menu settings">
                Settings
            </md-button>
        </md-toolbar>

        <div ui-view></div>

        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

        <script type="text/javascript" src="app.js"></script>
        <script type="text/javascript" src="components/home/home.js"></script>
    </body>
</html>
