<!DOCTYPE html>
<!--
The MIT License

Copyright 2015 bonome.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<form class="search" autocomplete="off" ng-submit="settings.search()">
    <md-input-container class="search-field">
        <label>City</label>
        <input ng-model="settings.citySearch" ng-enter="settings.search()">
    </md-input-container>
    <md-button ng-click="settings.search()" aria-label="search city" class="search-button">
        Search
    </md-button>
</form>
<md-list class="search-results">
    <md-list-item class="city-item" ng-click="settings.addCity(citySearched)" ng-repeat="citySearched in settings.citiesSearched">
        <span>
            {{citySearched.name}}{{citySearched.sys.country && ', ' + citySearched.sys.country}}
        </span>
        <span class="{{citySearched.sys.country && 'add'}} item-list-button">
            <md-tooltip md-direction="left">
                Add city of {{citySearched.name}}.
            </md-tooltip>
        </span>
    </md-list-item>
</md-list>
<span class="title">Cities List</span>
<md-list class="cities-list">
    <md-list-item class="city-item" ng-repeat="city in settings.cities track by $index">
        <div class="city-item-container">
            <span>{{city.name}}</span>
            <span class="delete item-list-button" ng-click="settings.deleteCity(city.id, city.name)">
                <md-tooltip md-direction="left">
                    Delete city of {{city.name}}.
                </md-tooltip>
            </span>
        </div>
    </md-list-item>
</md-list>
<!--<md-button ng-click="settings.save()" aria-label="save Settings" class="save">
    Save
</md-button>-->
