/**
* Hide when Angular is not yet loaded and initialized
*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

html, body {
    font-family: 'Cantarell', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.main.ng-scope {
    overflow: auto;
    height: -webkit-calc(100% - 64px);
    height: -o-calc(100% - 64px);
    height: calc(100% - 64px);
}

.logo {
    height: 48px;
    margin: 6px 0px 6px 20px;
    cursor: pointer;
}

/**
/* Layout Home page
*/
i.wi {
    font-size: 14em;
    text-align: center;
    height: 85%;
    width: 100%;
    line-height: normal;
    color: rgba(0,0,0,0.7);
    display: block;
}

i.wi-alien {
    color: #B71C1C;
}

span.description {
    text-transform: capitalize;
    display: block;
    color: rgba(0, 0, 0, 0.73);
}

md-card.city {
    width: 90%;
    height: 90%;
    padding: 5%;
}

md-card md-card-content {
    padding: 5% 0 0;
}

.illustration {
    height: 85%;
    /*background-color: lightcyan;*/
    background-color: powderblue;
}

span.temperature {
    display: block;
    text-align: right;    
    font-size: large;
    padding-right: 5px;
    height: 10%;
}

md-card-content span {
    font-weight: bold;
    font-size: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.illustration.moment-night {
    background-color: darkslategrey;
    /* background-color: midnightblue; */
    color: rgba(255, 255, 255, 0.87);
}

.illustration.moment-night i.wi {
    color: rgba(255, 255, 255, 0.87);
}

.illustration.moment-night span.description {
    color: rgba(255, 255, 255, 0.73);
    background-color: darkslategrey;
}
.illustration.moment-day span.description {
    background-color: powderblue;
}

@media (max-width: 500px) {
    i.wi {
        font-size: 11em;
    }
}
@media (min-width: 600px) and (max-width: 759px) {
    i.wi {
        font-size: 9em;
    }
}
@media (min-width: 760px) and (max-width: 890px) {
    i.wi {
        font-size: 11em;
    }
}
@media (min-width: 960px) and (max-width: 1089px) {
    i.wi {
        font-size: 9em;
    }
}
@media (min-width: 1090px) and (max-width: 1200px) {
    i.wi {
        font-size: 11em;
    }
}
@media (min-width: 1200px) and (max-width: 1399px) {
    i.wi {
        font-size: 9em;
    }
}
@media (min-width: 1400px) and (max-width: 1750px) {
    i.wi {
        font-size: 11em;
    }
}
@media (min-width: 2400px) {
    i.wi {
        font-size: 20em;
    }
}
/**
/* Layout settings page
*/

.search {
    background-color: rgba(79, 83, 86,0.3);
    padding-top: 10px;
    display: flex;
}

md-input-container.search-field {
    width: 70%;
    background-color: rgba(255,255,255,0.16);
    padding-bottom: 7px;
    margin-left: 10%;
    border-radius: 2px;
}

button.search-button {
    background-color: rgba(255,255,255,0.16);
    margin-top: 0;
    margin-bottom: 0;
}

md-list.search-results {
    background-color: rgba(79, 83, 86,0.3);
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(79,83,86);
}

.search-results md-list-item:nth-child(2n+1) {
    background-color: rgba(255,255,255,0.5);
}

md-list-item.city-item {
    width: 70%;
    margin-left: 10%;
    padding-left: 2px;
    padding-right: 2px;
}

.cities-list md-list-item:nth-child(2n+1) {
    background-color: rgba(0,0,0,0.1);
}

span.title.ng-scope {
    text-transform: uppercase;
    margin-left: 10%;
}

span.item-list-button {
    margin-left: auto;
    margin-right: 5px;
    border-radius: 18px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 31px;
    height: 31px;
    font-size: 36px;
    font-weight: 100;
    line-height: 24px;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.city-item-container {
    display: flex;
    width: 100%;
    padding: 0 16px;
    height: inherit;
    align-items: inherit;
}

span.add.item-list-button {
    background-image: url(../plus.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

span.delete.item-list-button {
    background-image: url(../cross_red.png);
    background-position: 5px 5px;
    background-repeat: no-repeat;
}
span.delete.item-list-button {
    border-color: rgb(115,1,1);
    cursor: pointer;
}

md-toast.md-delete-toast-theme{
    background-color: rgb(115,1,1);
}